// Default color set ==================
$bgColor: #F2F4F5;

// Base color
$mainColor: #99C328;
$subColor: #18527C;
$dangerColor: #CC0000;

$highlightColor: #FFFFD5;

// Link color
$linkNormalColor: $subColor;
$linkHoverColor: #158FEA;
$linkActiveColor: #FF6A8F;
$linkVisitedColor: #75818A;

// Column and Baloon BG color
$blockBgColor: #E9E9E9;
$blockBgMainColor: #D2E996;
$blockBgPointColor: #F9EE9F;

// Line color
$lineDColor: #CCCCCC;
$lineMColor: #E9E9E9;
$lineLColor: #EFEFEF;
